@import url('../RegionView.css');

.region-result {
  display:inline-block;
  margin-top:1em;
  padding:1em;
  background:#eee;
  border:2px solid #999;
  font-family:Monaco, monospace;
  white-space:pre;
}

/* Button styles will typically come from template */
.regionview button {
  position:relative;
  font-size:0.75em;
  padding:0.666em 1em;
  color:#fff;
  background:#2ea96a;
  text-shadow:0 1px 1px rgba(0,0,0,0.6);
  border:1px solid #108b4c;
  border-radius:2px;
  cursor:pointer;
}

.regionview button:hover,
.regionview button:active {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.1), rgba(0,0,0,0.1));
}

.regionview button.disabled,
.regionview button[disabled] {
  background:#e9e9e9;
  color:#777;
  text-shadow:none;
  cursor:text;
  border-color:#e9e9e9;
}

/* Button placement will typically come from ModalView */
.regionview button {
  margin: -3px 0 0 -3px;
}