/* variables cannot be used for mixin default values wtih precss */
$border-radius: 2px;
$button-size: 30px;

@define-mixin basic-control $radius:2px {
  background-color:#fff;
  border-radius:$radius;
  box-shadow: 0 1px 1px #333;
}

@define-mixin basic-control-button $size:30px,$radius:2px {
  display: flex;
  flex:none;
  justify-content: center;
  align-items: center;
  width: $size;
  height: $size;
  cursor: pointer;
  color: #222;
  font-weight: bold;
  border-radius: $radius;
}

@define-mixin basic-control-button-background $x,$y {
  background-image: url('images/location-view-icons.png');
  background-position: $x $y;
  background-repeat: no-repeat;
  background-size: 104px 52px;
}

@define-mixin rectangle-control-button-background $x,$y {
  background-image: url('images/region-controls.png');
  background-position: $x $y;
  background-repeat: no-repeat;
  background-size: 78px 52px;
}

@define-mixin basic-control-button-active {
  background-color: #ccc;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
}

@define-mixin basic-control-tooltip $size:30px,$radius:2px {
  position: absolute;
  display: none;
  left: 40px; /* $size + 10px */
  top: 0;
  padding: 0 1em;
  border-radius: $radius;
  line-height: $size;
  text-align: center;
  font-size: 12px;
  color: #000;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 1px #333;
  white-space: nowrap;
}

@define-mixin basic-control-tooltip-hover {
  display:block;
  z-index: 1;
}

@define-mixin expandable-leaflet-control $radius:2px {
  display: none;

  > input,
  > button {
    margin:0;
    padding:0;
    height:30px;
    outline:none;
    border:none;
  }

  > input {
    padding: 0 8px;
    border-left:1px solid #ccc;
    font-size: 13px;
  }

  > button {
    border:1px solid #fff;
    border-radius: 0 $radius $radius 0;
    background-color:#ddd;
    cursor:pointer;
    padding: 0 12px;
    flex: none;
    text-shadow: 0 0 1px #fff;
    box-shadow: none;

    &:active {
      background-color:#999
    }
  }
}

@define-mixin expandable-leaflet-control-enabled $x,$y,$radius:2px {
  display:flex;

  > .leaflet-control-icon {
    background-position: $x $y;
    border-radius:$radius 0 0 $radius;

    &:hover {
      cursor:pointer;
      border-radius:$radius 0 0 $radius;
    }
  }

  > .leaflet-control-input {
    border-radius:0 $radius $radius 0;
    display:flex;
    z-index: 2;
  }
}

