
.location-coordinate-control {

  > .expandable > input {
    width: 88px;
  }

  > .location-control-icon {
    background-position: 2px 2px;
  }

  > .location-control-icon:active,
  &.location-control-enabled > .location-control-icon {
    background-position: 2px -24px;
  }

}
