
.location-geocode-control {

  > .location-control-icon {
    background-position: -24px 2px;
  }

  &.location-control-enabled > .location-control-icon {
    background-position: -24px -24px;
  }

  > .expandable > .address {
    width: 176px;
  }

}
