.leaflet-bar a,
.leaflet-bar a:hover {
  height: 30px;
  line-height: 30px;
  width: 30px;
}


.leaflet-control {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 1px #333;

  > .leaflet-control-icon {
    align-items: center;
    border-radius: 2px;
    color: #222;
    cursor: pointer;
    display: flex;
    flex: none;
    font-weight: bold;
    height: 30px;
    justify-content: center;
    width: 30px;
  }
}


.leaflet-control-layers-selector {
  left: 0;
  position: relative;
}

.leaflet-control-layers-base,
.leaflet-control-layers-overlays {
  > label > input {
    left: auto;
    position: static;
  }
}

.leaflet-control-scale {
  padding: 4px 6px;

  > div {
    background-color: transparent;
    box-shadow: none !important;
  }

  .leaflet-left > & {
    margin-left: 10px;
  }

  .leaflet-bottom > & {
    margin-bottom: 10px;
  }

  .leaflet-right > & {
    margin-right: 10px;
  }
}

.leaflet-touch {

  .leaflet-control {
    border: none;
  }

}
