
.location-point-control {

  > .location-control-icon {
    background-position: -76px 2px;
  }

  &.location-control-enabled > .location-control-icon {
    background-position: -76px -24px;
  }
}

.location-point-control-active > .leaflet-map-pane {
  cursor: crosshair;
  cursor: url('images/point-control-cursor.cur') 16 32, auto;
}
