.rectangle-coordinate-view {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #000;
  height: 5em;
  padding: 4px;
  width: 10em;

  > span {
    display: inline-block;
    font-size: .9em;
    margin: 0 auto;
    text-align: center;
    width: 100%;

    &.rectangle-coordinate-view-east,
    &.rectangle-coordinate-view-west {
      width: 50%;
    }
  }
}
