

.drawing-rectangle {
  cursor: crosshair;
}

.region-rectangle-control {
  > .region-control-icon {
    background-position: -24px 2px;
  }
}

.rectangle-control-active .region-rectangle-control,
.region-rectangle-control:active {
  > .region-control-icon {
    background-position: -24px -24px;
  }
}


.rectangle-control-active > .instruction {
  background-color: #ebf7fd;
  border: 1px solid rgba(45,112,145,1);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  color: #2d7091;
  display:block;
  margin: auto;
  min-width: 191px;
  padding: 0.75em 1em;
  position:relative;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
  top: 1em;
  width: 65%;
  z-index: 10;
}
