.regionview > .modal-content {
  padding:0;
}

.regionview-map {
  display:block;
  height: 500px;
  width: 600px;
  max-height: 100%;
  max-width: 100%;
}


@media screen and (max-width: 768px) {
  .regionview-map {
    height: 400px;
    width: 500px;
  }
}
