@import '_mixins';

.leaflet-coordinate-control {

	> .leaflet-control-icon {
		@include basic-control-button-background(2px, 2px);
	}

	> .leaflet-control-input {
		@include expandable-leaflet-control();

		> input {
			width:99px;

			&.latitude {
				left:30px;
			}
			&.longitude {
				left:126px
			}
		}
	}
}


/** Styles for when the input is expanded **/
.leaflet-coordinate-control-enabled {
	@include expandable-leaflet-control-enabled(2px, -24px);
}
