.leaflet-coordinate-control {
	background-color: #fff;
	display: block;
	height: 26px;
	box-shadow: 0 1px 1px rgba(0,0,0,1);
	position: relative;
	border-radius: 4px;

	> .leaflet-coordinate-control-icon {
		height: 26px;
		width: 26px;
		cursor: pointer;
		display: block;
		background-image: url('location-view-icons.png');
		background-size: 104px 52px;
		background-position: 0 0;
	}

	> .leaflet-coordinate-control-input {
		display:none;
		position:absolute;
		top:0;
		left:26px;
		width:260px;

		> input,
		> button {
			margin:0;
			padding:0;
			height:26px;
			outline:none;
			border:none
		}

		> input {
			padding: 0 10px;
			width:100px;
			border-left:1px solid #ccc;
			font-size:12px;
		}

		> button {
			width:60px;
			border:1px solid #fff;
			border-radius: 0 4px 4px 0;
			background-color:#ddd;
			cursor:pointer;
			position:absolute;
			display:inline-block;
			top:0;
			right:0;
		}
	}
}


/** Styles for when the input is expanded **/
.leaflet-coordinate-control-enabled {
	width:286px;

	> .leaflet-coordinate-control-icon {
		background-position: 0 26px;
		border-radius:4px 0 0 4px;

		&:hover {
			cursor:pointer;
			border-radius:4px 0 0 4px;
		}
	}

	> .leaflet-coordinate-control-input {
		border-radius:0;
		display:inline-block;
		border-radius:0 4px 4px 0;
	}
}


.leaflet-coordinate-control-icon + span.help {
	display:none;
}


.leaflet-coordinate-control-icon:hover + span.help {
	display: block;
	position: absolute;
	border-radius: 4px;
	background: rgba(255,255,255,0.75);
	box-shadow: 0 1px 1px rgba(0,0,0,0.65);
	left: 36px;
	top: 0;
	width:147px;
	padding:0px 10px;
	text-align: center;
	color:#000;
	line-height:26px;
}

