.leaflet-coordinate-control {
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.65);
	padding:10px;
	max-width: 190px;
}

.leaflet-coordinate-control label {
	display:block;
	font-weight: bold;
	padding:0;
}

.leaflet-coordinate-control input,
.leaflet-coordinate-control button {
	margin:0;
}

.leaflet-coordinate-control input {
	display: inline-block;
	max-width:100%;
	margin:5px 0 10px 0;
}

.leaflet-coordinate-control ul {
	padding:0;
	margin:0;
	list-style: none;
}

.leaflet-coordinate-control li {
	display: inline-block;
	width:50%;
	max-width:80px;
}

.leaflet-coordinate-control .latitude-list-item {
	margin-right: 10px;
} 