.leaflet-control {
	border-radius:4px;
	box-shadow: 0 1px 1px rgb(0,0,0);
}

.leaflet-coordinate-control-wrapper {
	background:#fff;
	height:26px;
}

.leaflet-coordinate-control-toggle:hover {
	cursor:pointer;
	border-radius:4px;
}

.leaflet-coordinate-control-toggle {
	display:inline-block;
	width:26px;
	height:26px;
	background-image: url('location-view-icons.png');
	background-size: 400% 200%;
	background-position: 0 0;
}

.leaflet-coordinate-control-wrapper .leaflet-coordinate-control-input {
	display:none;
	position:absolute;
	left:26px;
	width:260px;
}

.leaflet-coordinate-control-input > input,
.leaflet-coordinate-control-input > button {
	height:26px;
	margin:0;
	padding:0;
	outline:none;
	border:1px solid #fff;
}


.leaflet-coordinate-control-input > input {
	padding: 0 10px;
	width:100px;
	border-left:1px solid #ccc;
	font-size:12px;
}

.leaflet-coordinate-control-input > button {
	width:60px;
	border-radius: 0 4px 4px 0;
	background-color:#ddd;
	cursor:pointer;
	position:absolute;
	display:block;
	top:0;
	right:0;
}

.leaflet-coordinate-control-input > label {
	display:none;
}


/** Styles for when the input is expanded **/

.leaflet-coordinate-control-wrapper.enabled {
	box-shadow:none;
}

.leaflet-coordinate-control-wrapper.enabled .leaflet-coordinate-control-input {
	border-radius:0;
	display:inline-block;
	border-radius:0 4px 4px 0;
	box-shadow:1px 1px 1px #000;
}


.leaflet-coordinate-control-wrapper.enabled .leaflet-coordinate-control-toggle {
	background-color:#eee;
	border-radius:4px 0 0 4px;
	box-shadow:0px 1px 1px #000;
	background-image: url('location-view-icons.png');
	background-size: 400% 200%;
	background-position: 0 26px;
}

