.GeocodeControl {
	background-color: #fff;
	display: block;
	height: 26px;
	border: 4px;
	box-shadow: 0 1px 1px rgba(0,0,0,1);
	position: relative;
	border-radius: 4px;
}

.geocode-control-expanded {
	width: 286px;
}

.geocode-control-input {
	border: none;
	position: absolute;
	top: 0px;
	left: 26px;
	bottom: 0px;
	outline: none;
	width: 199px;
	border-left: 1px solid #ccc;
	padding-left: 10px;
	margin: 0;
	padding-right: 10px;
}

.geocode-control-toggle {
	height: 26px;
	width: 26px;
	cursor: pointer;
	display: block;
	background-image: url(location-view-icon.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

.GeocodeControl > .geocode-control-submit {
	background-color: #ddd;
	width: 60px;
	text-align: center;
	position: absolute;
	right: 1px;
	top: 1px;
	bottom: 1px;
	border-radius: 0 4px 4px 0;
	line-height: 26px;
	cursor: pointer;
	color: #333;
	text-decoration: none;
}
.geocode-control-submit:hover,
.geocode-control-submit:focus {
	text-decoration: underline;
	outline: none;
}

.geocode-control-input, .geocode-control-submit {
	display: none;
}

.geocode-control-expanded > .geocode-control-input,
.geocode-control-expanded > .geocode-control-submit {
	display:block;
}
