.leaflet-geolocation-control {

	> .leaflet-geolocation-control-icon {
		background-image: url(location-view-icons.png);
		background-position: -50px 2px;
		background-repeat: no-repeat;
		background-size: 104px 52px;
	}
}
