a.leaflet-geolocation-control {
	background-color: #EEE;
	display: block;
	width: 26px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	color: #000;
	border-radius: 4px;
	border: 1px solid #ccc;
	text-decoration:none;
	cursor:pointer;
	box-shadow:0 1px 7px rgba(0,0,0,0.65);
	background-position:4px 4px;
	background-repeat: no-repeat;
	background-image: url(PointControl.png);
}