@import 'PointControl';
@import 'CoordinateControl';
@import 'GeocodeControl';
@import 'GeolocationControl';

.information-panel {
	display:none;
}

.leaflet-location-control-enabled > .information-panel {
	display:block;
}

.information-panel {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.5);
	z-index: 1000;

	> ul.information-list {
		position:absolute;
		background: #fff;
		box-shadow:0 1px 2px rgb(0,0,0);
		width:90%;
		margin:5%;
		padding:0;
		z-index:1000;
		list-style: none;
		cursor:pointer;
		overflow-y:scroll;
		max-height:80%;

		> li {
			padding:0;
			margin:0;
			padding-left:60px;
			border-top:1px solid #ccc;
			position: relative;

			> p {
				font-size:12px;
				padding:12px 0;
				margin:0;
			}

			> span.icon {
				position:absolute;
				display:block;
				height:40px;
				width:40px;
				top:0px;
				left:10px;
				background-image: url('location-view-icons.png');
				background-size: 160px 80px;
				background-repeat: no-repeat;
			}

			> .leaflet-coordinate-control-icon {
				background-position: 0 0;
			}

			> .leaflet-geocode-control-icon {
				background-position: -40px 0;
			}

			> .leaflet-geolocation-control-icon {
				background-position: -80px 0;
			}

			> .leaflet-point-control-icon {
				background-position: -120px 0;
			}



			&:hover {
				background: rgba(250, 250, 202, 0.5);
			}

			&:first-child {
				border-top:none;
			}
		}

	}
}


.leaflet-location-control-icon {
	cursor:pointer;
	background:#fff;
	display:block;
	height:26px;
	width:26px;
	box-shadow:0 1px 1px #000;
	font-family:"Times New Roman", Times, serif;
	font-weight: bold;
	text-align: center;
	line-height: 26px;
	font-size: 18px;
	border-radius:13px;
}


.leaflet-location-control-icon + span.help {
	display: none;
}

.leaflet-location-control-icon:hover + span.help {
	display: block;
	position: absolute;
	border-radius: 4px;
	background: rgba(255,255,255,0.75);
	box-shadow: 0 1px 1px rgba(0,0,0,0.65);
	left: 36px;
	top: 0;
	width:147px;
	padding:0px 10px;
	text-align: center;
	color:#000;
	line-height:26px;
}


@media screen and (min-width:768px) {

	.information-panel > ul.information-list {
		width:80%;
		margin:10%;

		> li {
			//padding:10px 15px 10px 75px;

			> p {
				font-size:13px;
				padding:23px 0;
			}

			> span.icon {
				top: 13px;
			}
		}
	}

}
