@import 'GeocodeControl';
@import 'GeolocationControl';
@import 'CoordinateControl';


.location-view {
	position:absolute;
	top:16px;
	right:16px;
	bottom:16px;
	left:16px;
	width:auto;
	max-width:640px;
	max-height:557px; // 480 + 43 + 34

	> .modal-header {
		height:43px;
	}

	> .modal-header, > .modal-footer {
		position:relative;
		z-index:10;
		box-shadow:0 0 7px rgba(0, 0, 0, 0.4);
		background-color:#FAFAFA;
	}

	> .modal-content {
		position:absolute;
		top:43px;
		right:0px;
		bottom:34px;
		left:0px;
		margin:0;
		padding:0;
		max-height:none;

		> .location-view-map {
			display:block;
			width:100%;
			height:100%;
		}
	}

	> .modal-footer {
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		margin:0;
		text-align:right;
		padding-right:8px;
	}
}
