.information-panel {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255,255,255,0.5);
	z-index: 1000;
}

.information-panel.hide {
	display:none;
}

.information-panel > ul.information-list {
	position:absolute;
	background: #fff;
	box-shadow:0 1px 2px rgb(0,0,0);
	width:80%;
	margin:10%;
	z-index:1000;
	list-style: none;
	padding:0;
	cursor:pointer;
}

.information-panel > ul.information-list > li {
	padding:10px 15px 10px 75px;
	border-top:1px solid #ccc;
	position: relative;
	min-height: 65px;
}

.information-panel > ul.information-list > li:hover {
	background: rgba(250, 250, 202, 0.5);
}

.information-panel > ul.information-list > li:first-child {
	border-top:none;
}

.information-panel > ul.information-list > li > p {
	font-size:13px;
}

.information-panel > ul.information-list > li > span.icon {
	position:absolute;
	display:block;
	top:13px;
	left:10px;
	background-image: url('location-view-icons.png');
	background-size: 160px 80px;
	background-repeat: no-repeat;
	height:40px;
	width:40px;
}

.information-panel > ul.information-list >
		li.information-list-coordinate-control > span.icon {
	background-position: 0 0;
}

.information-panel > ul.information-list >
		li.information-list-geocode-control > span.icon {
	background-position: -40px 0;
}

.information-panel > ul.information-list >
		li.information-list-geolocate-control > span.icon {
	background-position: -80px 0;
}

.information-panel > ul.information-list >
		li.information-list-point-control > span.icon {
	background-position: -120px 0;
}




.information-control.leaflet-control {
	font-family:"Times New Roman", Times, serif;
	font-weight: bold;
	text-align: center;
	line-height: 26px;
	font-size: 18px;
	border-radius:13px;
}



/* generic styles for controls inside the div */
.leaflet-control {
	border-radius:4px;
	box-shadow:0 1px 1px rgb(0,0,0);
}

/* a link/ buttons that enable controls */
a.leaflet-control {
	cursor: pointer;
	display: block;
	background-repeat: no-repeat;
	background-color: rgb(245,245,245);
	width:26px;
	height:26px;
}


.leaflet-control span {
	display: none;
}

.leaflet-left a.enabled span,
.leaflet-left a:hover span {
	display: block;
	position: absolute;
	border-radius: 4px;
	background: rgba(255,255,255,0.65);
	box-shadow: 0 1px 2px rgba(0,0,0,0.65);
	left: 36px;
	width:147px;
	padding:0px 10px;
	text-align: center;
	color:rgb(0, 120, 168);
	color:#000;
	line-height:26px;
}

.leaflet-left a.enabled span {
	background: #fff;
}
