@import 'PointControl';
@import 'CoordinateControl';
@import 'GeocodeControl';
@import 'GeolocationControl';

.information-panel.hide {
	display:none;
}

.information-panel {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.5);
	z-index: 1000;

	> ul.information-list {
		position:absolute;
		background: #fff;
		box-shadow:0 1px 2px rgb(0,0,0);
		width:80%;
		margin:10%;
		padding:0;
		z-index:1000;
		list-style: none;
		cursor:pointer;

		> li {
			padding:10px 15px 10px 75px;
			border-top:1px solid #ccc;
			position: relative;

			> p {
				font-size:13px;
			}

			> span.icon {
				position:absolute;
				display:block;
				height:40px;
				width:40px;
				top:13px;
				left:15px;
				background-image: url('location-view-icons.png');
				background-size: 160px 80px;
				background-repeat: no-repeat;
			}

			&:hover {
				background: rgba(250, 250, 202, 0.5);
			}

			&:first-child {
				border-top:none;
			}
		}

		> li.information-list-coordinate-control > span.icon {
			background-position: 0 0;
		}

		> li.information-list-geocode-control > span.icon {
			background-position: -40px 0;
		}

		> li.information-list-geolocate-control > span.icon {
			background-position: -80px 0;
		}

		> li.information-list-point-control > span.icon {
			background-position: -120px 0;
		}
	}
}

a.information-control {
	cursor:pointer;
	background:#fff;
	height:26px;
	width:26px;
	box-shadow:0 1px 1px #000;
	font-family:"Times New Roman", Times, serif;
	font-weight: bold;
	text-align: center;
	line-height: 26px;
	font-size: 18px;
	border-radius:13px;
}

.leaflet-control span {
	display: none;
}

.leaflet-left a.enabled span,
.leaflet-left a:hover span {
	display: block;
	position: absolute;
	border-radius: 4px;
	background: rgba(255,255,255,0.75);
	box-shadow: 0 1px 1px rgba(0,0,0,0.65);
	left: 36px;
	width:147px;
	padding:0px 10px;
	text-align: center;
	color:#000;
	line-height:26px;
}

.leaflet-left a.enabled span {
	background: #fff;
}
