.leaflet-point-control-location {
	cursor:crosshair;
	cursor:url(cursor.cur) 16 32, auto;
}
a.leaflet-point-control {
	background-color: #fff;
	display: block;
	width: 26px;
	height: 26px;
	text-align: center;
	color: #000;
	border-radius: 4px;
	text-decoration:none;
	cursor:pointer;
	box-shadow:0 1px 1px rgb(0,0,0);
	background-repeat: no-repeat;
	background-image: url(location-view-icons.png);
	background-size: 400% 200%;
	background-position: -78px 0px;
}

a.leaflet-point-control-enabled {
	background-position: -78px -26px;
}
