.leaflet-point-control-location {
	cursor:default;
	cursor:crosshair;
}
a.leaflet-point-control {
	background-color: #fff;
	display: block;
	width: 26px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	color: #000;
	border-radius: 4px;
	border: 1px solid #ccc;
	text-decoration:none;
	cursor:pointer;
	box-shadow:0 1px 7px rgba(0,0,0,0.65);
	background-repeat: no-repeat;
	background-image: url(location-view-icons.png);
	background-size: 400% 200%;
	background-position: -78px 0px;
}
a.leaflet-point-control-enabled {
	background-color: #eee;
	background-position: -78px -26px;
}
