// class added to map container to show custom cursor
.leaflet-point-control-location {
	cursor:crosshair;
	cursor:url(cursor.cur) 16 32, auto;
}


// icon for point control
.leaflet-point-control {

	> .leaflet-point-control-icon {
		background-color: #fff;
		display: block;
		width: 26px;
		height: 26px;
		text-align: center;
		color: #000;
		border-radius: 4px;
		text-decoration:none;
		cursor:pointer;
		box-shadow:0 1px 1px rgb(0,0,0);
		background-repeat: no-repeat;
		background-image: url(location-view-icons.png);
		background-size: 104px 52px;
		background-position: -78px 0px;
	}

}

// icon for point control, when enabled
.leaflet-point-control-enabled > .leaflet-point-control-icon {
	background-position: -78px -26px;
}

.leaflet-point-control-icon + span.help {
	display: none;
}

.leaflet-point-control-icon:hover + span.help {
	display: block;
	position: absolute;
	border-radius: 4px;
	background: rgba(255,255,255,0.75);
	box-shadow: 0 1px 1px rgba(0,0,0,0.65);
	left: 36px;
	top: 0;
	width:147px;
	padding:0px 10px;
	text-align: center;
	color:#000;
	line-height:26px;
}
