@import 'RectangleOverlayView';
@import '_mixins';

// updates cursor once user is done drawing rectangle
.drawing-rectangle {
  cursor: crosshair;
}

.leaflet-rectangle-control-active .leaflet-rectangle-control {
  @include basic-control-button-active();
}

.leaflet-rectangle-control:active {
  @include basic-control-button-active();
}


.regionview-map > .alert {
  // default alert styles
  display:block;
  padding: 0.75em 1em;
  border-radius: 4px;
  text-shadow: 0 1px 1px #fff;
  background: #f8f8f8;
  color: #555;
  border: 1px solid #d8d8d8;

  // custom alert styles
  position:relative;
  margin: auto;
  text-align: center;
  width: 50%;
  min-width: 220px;
  top: 1em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.regionview-map > .info {
  color: #2d7091;
  background-color: #ebf7fd;
  border-color: rgba(45,112,145,1);
}