.rectangle-view-icon {
  display: block;
  background-color:rgba(255, 255, 255, 1);
  text-align: center;
  padding: 0;
  margin: 0;
  border-radius: 20px;
  border:15px solid transparent;
  background-clip:content-box;
  box-shadow:inset 0 0 2px #000;

}

.rectangle-view-icon-top,
.rectangle-view-icon-bottom {
  cursor: ns-resize;
}
.rectangle-view-icon-left,
.rectangle-view-icon-right {
  cursor:ew-resize;
}